
# Elastic Beanstalk Files
/backend/.elasticbeanstalk/*
!/backend/.elasticbeanstalk/*.cfg.yml
!/backend/.elasticbeanstalk/*.global.yml
node_modules
/frontend/node_modules
/backend/node_modules
.vercel
